<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoWebShopSuite" parallel="tests" thread-count="2">
    <test name="DemoWebShopTest">
    <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
                <include name="smoke","regression"></include>
            </run>
        </groups>
        <classes>
            <class name="demoWebShop.Practice_demoweb" />
            <class name="day24.Dataprovider"/>
        </classes>
    </test>

</suite>
